<h2>Add A New Beer To Your Cellar</h2>
<form action='/brews' method='post'>
<p><b>Brewery:</b> <input type="text" name="brewery"></p>
<p><b>Brand:</b> <input type="text" name="beer_name"></p>
<p><b>ABV%:</b> <input type="text" name="abv"></p>
<p><b>Packaging Date:</b> <input type="text" name="package_date"></p>
<input type="submit" value="Submit">
</form>