<%if Helpers.is_logged_in?(session)%>
<%=@error%>
    <form action='/brews' method="post">
    Brewery:
    <input type="text" name="brewery"><br>
    Brand:
    <input type="text" name="beer_name"><br>
    ABV%:
    <input type="text" name="abv"><br>
    Packaging Date:
    <input type="text" name="package_date">

    <input type="submit" name="Submit">
</form>

<%else%>
    <h2>Error, You Have To Log In Or Sign Up<h2>
<%end%>
