<h2>Please Log In</h2>
<form action="/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>
<br>
<br>
<a href="/signup">If You Haven't Already Please Sign Up</a>

