<h2>Please Log In</h2>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>

