
<h2>Welcome to BrewCellar!</h2>

<nav>
    <%if logged_in?%>
        <a href="/users/show_cellar">Go To My Cellar</a>
        <a href="/logout">Log Out</a>
        <p>Welcome, <%=current_user.username%></p>
    <%else%>
        <p>Please sign in or sign up below</p>
        <a href="/signup">Sign Up</a>
        <br>
        <br>
        <br>
        <a href="/login"> Sign In </a>
    <%end%>
</nav>


   